[MASTER]
disable=
    missing-docstring,
    design,
    similarities,
    no-self-use,
    attribute-defined-outside-init,
    locally-disabled,
    star-args,
    pointless-except,
    bad-option-value,
    global-statement,
    fixme,
    suppressed-message,
    useless-suppression,
    locally-enabled,
    no-member,
    no-name-in-module,
    import-error,
    unsubscriptable-object,
    unbalanced-tuple-unpacking,
    undefined-variable,
    not-context-manager