.Login {
  background-image: url('/background.webp');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Login h1 {
  font-family: 'Major Mono Display', monospace;
}

.Login h1 .first-letter {
  color: #FF0000;
}

.Login .form-control {
  background-color: #fffa !important;
}

.Login .row {
  height: 100% !important;
}

.Login .invalid-feedback {
  height: 50px;
}