.Login {
  padding: 60px 0;
}

.Login Form {
  margin: 0 auto;
  max-width: 320px;
}

#email-input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1;
}

#pw-input {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 1;
}

#login-notice {
  color: #FF0000;
}

.Login Button {
  margin: 10px 0;
  width: 100%;
}