.TopBar button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}

.TopBar button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.TopBar:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.TopBar button:hover {
  background-color: #3e8e41;
}