.TopBar #assa-logo {
  height: 64px;
  width: 64px;
}

.TopBar button {
  letter-spacing: 0.05em;
  background: none;
  border: none;
  padding: 5px 0px;
  margin: 0px 20px;
}

.TopBar a {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 5px 0px;
  margin: 0px 20px;
  position: relative;
  cursor: pointer;
}

.TopBar a.active:not(.except):after {
  bottom: 3px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #000;
  width: 100%;
  left: 0;
}

.TopBar a:not(.active):after {    
  background: none repeat scroll 0 0 #000;
  bottom: 3px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

.TopBar a:not(.except):hover:after { 
  width: 100%; 
  left: 0; 
}

.TopBar a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #000;
}