.searched-courses {
    float:left;
    width:20%;
    height: 720px;
}

.searchBar {
    width: 100%;
    margin: 15px;
}

.searchBar #semester-select {
    float:left;
    margin: 10px;
}
.searched-courses ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.searched-courses .label button {
    background-color : darkgreen;
    width: 50%;
    padding: 5px;
    color: white;
}
.searched-courses ul button {
    background-color : green;
    width: 100%;
    padding: 10px;
    color: white;
}
.timetable {
    float:left;
    width:60%;
}

.timetable-list {
    float:left;
    width:20%;
    height:720px;
}

.timetable-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.timetable-list button {
    background-color: green;
    width: 100%;
    padding: 10px;
    color: white;
}

.manage-timetable-buttons{
    float:right;
}