.searched-courses {
    float:left;
    width:20%;
    height: 720px;
}

.timetable {
    float:left;
    width:60%;
}

.timetable-list {
    float:left;
    width:20%;
    height:720px;
}

.searchBar {
    width: 100%;
    height: 120px;
}

.searchBar #semester-select {
    float:left;
    margin: 10px;
}

.searched-courses .label button {
    background-color : #7ABB4C;
    width: 50%;
    padding: 5px;
    color: white;
}
.searched-courses .label button:hover {
    background-color : green;
    color: white;
}



.manage-timetable-buttons{
    float:right;
}
