* {
    margin: 0;
    padding: 0;
}

body {
    margin: 100px;
}

.pop-layer .pop-container {
    padding: 20px 25px;
}

.pop-layer .btn {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
}

.pop-layer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    height: auto;
    background-color: #fff;
    border: 5px solid #3571B5;
    z-index: 20;
}
.dim-layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: 10;
    filter: alpha(opacity=50);
}
.dim-layer .pop-layer {
    display: block;
}