ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul button {
    background-color : green;
    width: 100%;
    padding: 10px;
    color: white;
}

ul button:hover {
    background-color: darkgreen;
    color: white;
}