.TimetableRecommend {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#recommend-progress {
  border-right: 1px solid #DDDDDD;
}

#recommend-progress .bar {
  margin-bottom: -1px;
  width: 3px;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
}

#recommend-progress td:nth-child(1) {
  width: 4rem;
}

#recommend-progress td:nth-child(2) {
  text-align: left;
  font-weight: 700;
  width: 6rem;
}

#recommend-progress td:nth-child(3) button {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: #C0C0C0;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition-duration: .3s;
  border: 0px solid transparent;
}

#recommend-progress td:nth-child(3) button:hover {
  background-color: #808080;
}

#recommend-progress td:nth-child(3) button:focus {
  background-color: #808080;
}

#recommend-progress td:nth-child(1) .oi {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid;
}

#recommend-progress .progress-past {
  color: #00B000;
  border-color: #00B000;
}

#recommend-progress .progress-working {
  color: #B00000;
  border-color: #B00000;
}

#recommend-progress .progress-future {
  color: #808080;
  border-color: #808080;
}

#recommend-progress .progress-past .bar {
  background-color: #00B000;
}

#recommend-progress .progress-future .bar {
  background-color: #808080;
}