.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 5%;
    bottom: 5%;
    margin: auto;
    background: white;
}
.timetable-show{
    float: top;
    width: 100%;
}
.close-space{
    float: bottom;
}