.TimetableView #timetable {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
}

.TimetableView #timetable th {
  border: 0px;
  font-weight: 400;
}

.TimetableView #timetable tr td {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  position: relative;
  vertical-align: top;
  padding: 0px;
}

.TimetableView .timetable-hour-bar {
  border-top-color: #DDDDDD;
}

.TimetableView .square {
  position: absolute;
  width: 100%;
  padding: 0px;
  margin: auto;
  z-index: 5;
}

.TimetableView .square .title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75rem;
}

.TimetableView #timetable-current-bar {
  position: absolute;
  width: 100%;
  background-color: #EB144C;
  height: 1px;
  z-index: 500;
}